body
{
    background-color: rgb(0, 0, 0);
}

.page
{
    
    height:95vh;
    
    width:98vw;
    
    padding = 3px;
    
    display: flex;
    
    flex-direction: column;
    
    justify-content: space-between;
        
}

.top
{
    
    font-family: 'VT323', monospace;    
    
    font-size: 8vh;
    
    color: white;
    
    transition: .5s ease;
    
}

.back
{
    height: 5vh;
    width: 2.5vw;
    position: absolute;
    top: 1vh;
    left: 1vw;
}